*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.app_title{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  position: relative;
}
.apps{
  position: relative;
}